
@{
    ViewData["Title"] = "Home Page";
    int a = 10;
}


@if(a < 19)
{
    <p>Hi</p>
}
else
{
    <p>Bye</p>
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
